<mat-card class="message-card" *ngFor="let message of messages">
    <mat-icon
        *ngIf="!message.isReplay"
        material-icons
        matTooltip="message.isSenderActive ? 'Online' : 'Offline'"
        class="message-card-status-text"
        [class.online]="message.isSenderActive"
        >power_settings_new</mat-icon
    >

    <mat-card-header>
        <img mat-card-avatar [src]="message.senderImageUrl" />
        <mat-card-title class="message-card-title">{{ message.senderName }}</mat-card-title>
        <mat-card-subtitle>
            <span>{{ message.date }}</span>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="message-card-content">
        <pre>{{ message.content }}</pre>
    </mat-card-content>
</mat-card>

<div class="message-card-no-results" *ngIf="!messages.length">
    <h1>No results</h1>
</div>
