.message-card {
    margin: 10px;
}

.message-card-title {
    margin-top: 6px;
}

.message-card-status-text {
    float: right;
    color: darkred;

    &.online {
        color: green;
    }
}

.message-card-no-results {
    text-align: center;
    margin-top: 40px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
