<div class="message-list">
    <mat-tab-group>
        <mat-tab label="Unread">
            <app-message-card [messages]="unreadMessages"></app-message-card>
        </mat-tab>
        <mat-tab label="Seen">
            <app-message-card [messages]="seenMessages"></app-message-card>
        </mat-tab>
        <mat-tab label="Replies">
            <app-message-card [messages]="replies"></app-message-card>
        </mat-tab>
    </mat-tab-group>

    <div class="toastr-container" *ngIf="toastr">
        <h1>{{ toastr }}</h1>
    </div>

    <div class="spinner" *ngIf="loading"></div>
</div>
