.spinner {
    margin: 16px auto;
    width: 30px;
    height: 30px;
    border: 6px solid rgba(10, 10, 10, 0.5);
    border-left-color: rgba(30, 30, 30, 0.5);
    border-bottom-color: rgba(50, 50, 50, 0.5);
    border-right-color: transparent;
    border-radius: 100%;
    animation: spin 600ms infinite linear;
    /* Refresh rate is 600ms */
}

.toastr-container {
    text-align: center;
    margin-top: 40px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
